<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.ehis.registration.mapper.master.SicmedPatientWriteMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.ehis.registration.entity.SicmedPatient">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="patient_number" jdbcType="VARCHAR" property="patientNumber" />
    <result column="patient_name" jdbcType="VARCHAR" property="patientName" />
    <result column="patient_sex" jdbcType="VARCHAR" property="patientSex" />
    <result column="patient_age" jdbcType="INTEGER" property="patientAge" />
    <result column="patient_birthday" jdbcType="TIMESTAMP" property="patientBirthday" />
    <result column="patient_card" jdbcType="CHAR" property="patientCard" />
    <result column="patient_tel" jdbcType="VARCHAR" property="patientTel" />
    <result column="patient_address" jdbcType="VARCHAR" property="patientAddress" />
    <result column="patient_firstdate" jdbcType="TIMESTAMP" property="patientFirstdate" />
    <result column="patient_lastdate" jdbcType="TIMESTAMP" property="patientLastdate" />
    <result column="medicare_type" jdbcType="VARCHAR" property="medicareType" />
    <result column="medicare_no" jdbcType="VARCHAR" property="medicareNo" />
    <result column="branch_id" jdbcType="VARCHAR" property="branchId" />
    <result column="doctor_id" jdbcType="VARCHAR" property="doctorId" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="delete_user" jdbcType="VARCHAR" property="deleteUser" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="delete_date" jdbcType="TIMESTAMP" property="deleteDate" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, patient_number, patient_name, patient_sex, patient_age, patient_birthday, patient_card, 
    patient_tel, patient_address, patient_firstdate, patient_lastdate, medicare_type, 
    medicare_no, branch_id, doctor_id, remarks, create_user, update_user, delete_user, 
    create_date, update_date, delete_date, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sicmed_patient
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sicmed_patient
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sicmed.ehis.registration.entity.SicmedPatient">
    insert into sicmed_patient (id, patient_number, patient_name, 
      patient_sex, patient_age, patient_birthday, 
      patient_card, patient_tel, patient_address, 
      patient_firstdate, patient_lastdate, 
      medicare_type, medicare_no, branch_id, 
      doctor_id, remarks, create_user, 
      update_user, delete_user, create_date, 
      update_date, delete_date, del_flag
      )
    values (#{id,jdbcType=VARCHAR}, #{patientNumber,jdbcType=VARCHAR}, #{patientName,jdbcType=VARCHAR}, 
      #{patientSex,jdbcType=VARCHAR}, #{patientAge,jdbcType=INTEGER}, #{patientBirthday,jdbcType=TIMESTAMP}, 
      #{patientCard,jdbcType=CHAR}, #{patientTel,jdbcType=VARCHAR}, #{patientAddress,jdbcType=VARCHAR}, 
      #{patientFirstdate,jdbcType=TIMESTAMP}, #{patientLastdate,jdbcType=TIMESTAMP}, 
      #{medicareType,jdbcType=VARCHAR}, #{medicareNo,jdbcType=VARCHAR}, #{branchId,jdbcType=VARCHAR}, 
      #{doctorId,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=VARCHAR}, #{deleteUser,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{deleteDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sicmed.ehis.registration.entity.SicmedPatient">
    <selectKey keyProperty="id" resultType="string" order="BEFORE">
      select replace(uuid(), '-', '') as id from dual
    </selectKey>
    insert into sicmed_patient
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="patientNumber != null">
        patient_number,
      </if>
      <if test="patientName != null">
        patient_name,
      </if>
      <if test="patientSex != null">
        patient_sex,
      </if>
      <if test="patientAge != null">
        patient_age,
      </if>
      <if test="patientBirthday != null">
        patient_birthday,
      </if>
      <if test="patientCard != null">
        patient_card,
      </if>
      <if test="patientTel != null">
        patient_tel,
      </if>
      <if test="patientAddress != null">
        patient_address,
      </if>
      <if test="patientFirstdate != null">
        patient_firstdate,
      </if>
      <if test="patientLastdate != null">
        patient_lastdate,
      </if>
      <if test="medicareType != null">
        medicare_type,
      </if>
      <if test="medicareNo != null">
        medicare_no,
      </if>
      <if test="branchId != null">
        branch_id,
      </if>
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="deleteUser != null">
        delete_user,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="deleteDate != null">
        delete_date,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="patientNumber != null">
        #{patientNumber,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientSex != null">
        #{patientSex,jdbcType=VARCHAR},
      </if>
      <if test="patientAge != null">
        #{patientAge,jdbcType=INTEGER},
      </if>
      <if test="patientBirthday != null">
        #{patientBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="patientCard != null">
        #{patientCard,jdbcType=CHAR},
      </if>
      <if test="patientTel != null">
        #{patientTel,jdbcType=VARCHAR},
      </if>
      <if test="patientAddress != null">
        #{patientAddress,jdbcType=VARCHAR},
      </if>
      <if test="patientFirstdate != null">
        #{patientFirstdate,jdbcType=TIMESTAMP},
      </if>
      <if test="patientLastdate != null">
        #{patientLastdate,jdbcType=TIMESTAMP},
      </if>
      <if test="medicareType != null">
        #{medicareType,jdbcType=VARCHAR},
      </if>
      <if test="medicareNo != null">
        #{medicareNo,jdbcType=VARCHAR},
      </if>
      <if test="branchId != null">
        #{branchId,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteUser != null">
        #{deleteUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteDate != null">
        #{deleteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sicmed.ehis.registration.entity.SicmedPatient">
    update sicmed_patient
    <set>
      <if test="patientNumber != null">
        patient_number = #{patientNumber,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        patient_name = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientSex != null">
        patient_sex = #{patientSex,jdbcType=VARCHAR},
      </if>
      <if test="patientAge != null">
        patient_age = #{patientAge,jdbcType=INTEGER},
      </if>
      <if test="patientBirthday != null">
        patient_birthday = #{patientBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="patientCard != null">
        patient_card = #{patientCard,jdbcType=CHAR},
      </if>
      <if test="patientTel != null">
        patient_tel = #{patientTel,jdbcType=VARCHAR},
      </if>
      <if test="patientAddress != null">
        patient_address = #{patientAddress,jdbcType=VARCHAR},
      </if>
      <if test="patientFirstdate != null">
        patient_firstdate = #{patientFirstdate,jdbcType=TIMESTAMP},
      </if>
      <if test="patientLastdate != null">
        patient_lastdate = #{patientLastdate,jdbcType=TIMESTAMP},
      </if>
      <if test="medicareType != null">
        medicare_type = #{medicareType,jdbcType=VARCHAR},
      </if>
      <if test="medicareNo != null">
        medicare_no = #{medicareNo,jdbcType=VARCHAR},
      </if>
      <if test="branchId != null">
        branch_id = #{branchId,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null">
        doctor_id = #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteUser != null">
        delete_user = #{deleteUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteDate != null">
        delete_date = #{deleteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sicmed.ehis.registration.entity.SicmedPatient">
    update sicmed_patient
    set patient_number = #{patientNumber,jdbcType=VARCHAR},
      patient_name = #{patientName,jdbcType=VARCHAR},
      patient_sex = #{patientSex,jdbcType=VARCHAR},
      patient_age = #{patientAge,jdbcType=INTEGER},
      patient_birthday = #{patientBirthday,jdbcType=TIMESTAMP},
      patient_card = #{patientCard,jdbcType=CHAR},
      patient_tel = #{patientTel,jdbcType=VARCHAR},
      patient_address = #{patientAddress,jdbcType=VARCHAR},
      patient_firstdate = #{patientFirstdate,jdbcType=TIMESTAMP},
      patient_lastdate = #{patientLastdate,jdbcType=TIMESTAMP},
      medicare_type = #{medicareType,jdbcType=VARCHAR},
      medicare_no = #{medicareNo,jdbcType=VARCHAR},
      branch_id = #{branchId,jdbcType=VARCHAR},
      doctor_id = #{doctorId,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      delete_user = #{deleteUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      delete_date = #{deleteDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>