<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.ehis.registration.mapper.slaver.SicmedRegistrationReadMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.ehis.registration.entity.SicmedRegistration">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="registration_type" jdbcType="VARCHAR" property="registrationType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, registration_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sicmed_registration
    where id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>