<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.ehis.registration.mapper.slaver.SicmedPatientReadMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.ehis.registration.entity.SicmedPatient">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="patient_number" jdbcType="VARCHAR" property="patientNumber" />
    <result column="patient_name" jdbcType="VARCHAR" property="patientName" />
    <result column="patient_sex" jdbcType="VARCHAR" property="patientSex" />
    <result column="patient_age" jdbcType="INTEGER" property="patientAge" />
    <result column="patient_birthday" jdbcType="TIMESTAMP" property="patientBirthday" />
    <result column="patient_card" jdbcType="CHAR" property="patientCard" />
    <result column="patient_tel" jdbcType="VARCHAR" property="patientTel" />
    <result column="patient_address" jdbcType="VARCHAR" property="patientAddress" />
    <result column="patient_firstdate" jdbcType="TIMESTAMP" property="patientFirstdate" />
    <result column="patient_lastdate" jdbcType="TIMESTAMP" property="patientLastdate" />
    <result column="medicare_type" jdbcType="VARCHAR" property="medicareType" />
    <result column="medicare_no" jdbcType="VARCHAR" property="medicareNo" />
    <result column="branch_id" jdbcType="VARCHAR" property="branchId" />
    <result column="doctor_id" jdbcType="VARCHAR" property="doctorId" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="delete_user" jdbcType="VARCHAR" property="deleteUser" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="delete_date" jdbcType="TIMESTAMP" property="deleteDate" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, patient_number, patient_name, patient_sex, patient_age, patient_birthday, patient_card, 
    patient_tel, patient_address, patient_firstdate, patient_lastdate, medicare_type, 
    medicare_no, branch_id, doctor_id, remarks, create_user, update_user, delete_user, 
    create_date, update_date, delete_date, del_flag
  </sql>


  <!--selectByParams  选择性查询-->
  <select id="selectByParams"  resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM sicmed_patient
    <where>
      <if test="id != null and id != ''">
        AND id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="patientNumber != null and patientNumber != ''">
        AND patient_number = #{patientNumber,jdbcType=VARCHAR}
      </if>
      <if test="patientName != null and patientName != ''">
        AND patient_name = #{patientName,jdbcType=VARCHAR}
      </if>
      <if test="patientSex != null and patientSex != ''">
        AND patient_sex = #{patientSex,jdbcType=VARCHAR}
      </if>
      <if test="patientAge != null and patientAge != ''">
        AND patient_age = #{patientAge,jdbcType=INTEGER}
      </if>
      <if test="patientBirthday != null and patientBirthday != ''">
        AND patient_birthday = #{patientBirthday,jdbcType=TIMESTAMP}
      </if>
      <if test="patientCard != null and patientCard != ''">
        AND patient_card = #{patientCard,jdbcType=CHAR}
      </if>

      <if test="patientAddress != null and patientAddress != ''">
        AND patient_address = #{patientAddress,jdbcType=VARCHAR}
      </if>
      <if test="patientFirstdate != null and patientFirstdate != ''">
        AND patient_firstdate = #{patientFirstdate,jdbcType=TIMESTAMP}
      </if>
      <if test="patientLastdate != null and patientLastdate != ''">
        AND patient_lastdate = #{patientLastdate,jdbcType=TIMESTAMP}
      </if>
      <if test="medicareType != null and medicareType != ''">
        AND medicare_type = #{medicareType,jdbcType=VARCHAR}
      </if>
      <if test="medicareNo != null and medicareNo != ''">
        AND medicare_no = #{medicareNo,jdbcType=VARCHAR}
      </if>
      <if test="branchId != null and branchId != ''">
        AND branch_id = #{branchId,jdbcType=VARCHAR}
      </if>
      <if test="doctorId != null and doctorId != ''">
        AND doctor_id = #{doctorId,jdbcType=VARCHAR}
      </if>
      <if test="remarks != null and remarks != ''">
        AND remarks = #{remarks,jdbcType=VARCHAR}
      </if>
      <if test="createUser != null and createUser != ''">
        AND create_user = #{createUser,jdbcType=VARCHAR}
      </if>
      <if test="updateUser != null and updateUser != ''">
        AND update_user = #{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="deleteUser != null and deleteUser != ''">
        AND delete_user = #{deleteUser,jdbcType=VARCHAR}
      </if>
      <if test="createDate != null and createDate != ''">
        AND create_date = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="updateDate != null and updateDate != ''">
        AND update_date = #{updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="deleteDate != null and deleteDate != ''">
        AND delete_date = #{deleteDate,jdbcType=TIMESTAMP}
      </if>
      <if test="delFlag != null and delFlag != ''">
        AND del_flag = #{delFlag,jdbcType=CHAR}
      </if>


    </where>
    ORDER BY create_date

    <!--<if test="query != null and query != null">-->
    <!--limit #{query.offset}, #{query.limit}-->
    <!--</if>-->
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sicmed_patient
    where id = #{id,jdbcType=VARCHAR}
  </select>


  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sicmed_patient
    where id = #{id,jdbcType=VARCHAR} AND del_flag = '0'
  </select>

  <!--selectByCard 根据身份证号码查询-->
  <select id="selectByCard" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sicmed_patient
    where patient_card = #{patientCard,jdbcType=VARCHAR} AND del_flag = '0'
  </select>


  <select id="selectByNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sicmed_patient
    where patient_number = #{patientNumber,jdbcType=VARCHAR} AND del_flag = '0'
  </select>

</mapper>